@use "../helpers/variables.scss" as *;
@use "../helpers/mixins.scss" as *;

.navigation {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $color-ivory;
    margin: 0 20px;
    padding: 50px 0 30px;
    height: calc(100svh - 60px);
    overflow-y: auto;

    &__group {
        margin: 50px 0 0;

        &-title {
            @include font-rem(16);
            font-weight: $weight-bold;
            text-transform: uppercase;
            color: $color-ivory;
        }  
        
        ul {
            margin: 25px 0 0;

            li {
                margin: 15px 0 0;

                &:first-child {
                    margin: 0;
                }

                @media (min-width: $mq-tablet) and (max-width: #{$mq-desktop - 1px}) {
                    margin: 0;
                }
            }

            @media (min-width: $mq-tablet) and (max-width: #{$mq-desktop - 1px}) {
                display: flex;
                margin: 0;
            }
        }

        &:first-child {
            margin: 0;
        }

        @media (min-width: $mq-tablet) and (max-width: #{$mq-desktop - 1px}) {
            margin: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 10px 35px;
        @include font-rem(14);
        line-height: 1;
        color: $color-ivory;
  
        svg {
            margin: 0 10px 0 0;
            width: 13px;
        }

        &:hover {
            @media (min-width: $mq-desktop) {
                background-color: $color-secondary;  
            }
        }

        &.active {
            border-color: $color-light-grey;
            background-color: $color-secondary;
            color: $color-tertiary;
            
            @media (min-width: $mq-tablet) and (max-width: #{$mq-desktop - 1px}) {
                border-color: $color-secondary;
            }
        }

        @media (min-width: $mq-tablet) and (max-width: #{$mq-desktop - 1px}) {
            justify-content: center; 
            padding: 10px 15px;    
        }
    }

    &__account {    
        margin: auto 0 0;  
        
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 30px 0 0;
            border-top: 1px solid $color-ivory;
            padding: 20px 0 0;            
        }
    }

    &__user {
        display: flex;
        align-items: center;

        &-profile {
            &-photo {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;

                &-wrapper {
                    border: 1px solid $color-ivory;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    background-color: $color-secondary;
                }
            }

            &-name {
                margin: 0 0 0 10px;
                @include font-rem(14);
                color: $color-ivory;
            }
        }
    }

    &__logout {
        svg {
            width: 13px;
        }
    }

    @media (min-width: $mq-tablet) and (max-width: #{$mq-desktop - 1px}) {
        flex-direction: row;
        align-items: center;
        border: 0; 
        margin: 0;  
        padding: 0;
        height: initial;
    }

    @media (min-width: $mq-desktop) {
        margin: 0 30px;
    }
}