@use "../helpers/variables.scss" as *;
@use "../helpers/mixins.scss" as *;

.standard-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;

        @media (min-width: $mq-desktop) {
            padding: 50px 30px;
            @include theme-property("background-color", $color-ivory, $color-primary);
            min-height: 0;
        }
    }

    &__layout {
        display: flex;
        flex-direction: column;
        flex: 1;

        @media (min-width: $mq-desktop) {
            margin: 50px 0 0;
            border: 1px solid;
            @include theme-property("border-color", $color-border-light, $color-border-faint);
            border-radius: 10px;
            padding: 30px;
            @include theme-property("background-color", $color-white, $color-secondary);  
            min-height: 0;   
        }
    }

    &__view {
        padding: 20px;
        @include theme-property("background-color", $color-white, $color-secondary);  

        @media (min-width: $mq-tablet) {
            padding: 30px;
        }

        @media (min-width: $mq-desktop) {
            padding: 0;
        }
    }

    .content {

        &__group {
            border: 1px solid;
            @include theme-property("border-color", $color-border-light, $color-border-faint);
            border-radius: 10px;
            padding: 20px;
            @include theme-property("background-color", $color-white, $color-secondary); 

            @media (min-width: $mq-desktop) {
                padding: 30px;
            }
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            width: 40px;
            height: 40px;

            svg {
                width: auto;
                height: 18px;
            }

            &--ai {
                background-color: $color-tertiary;
            }

            &--nutrition, &--check {
                background-color: $color-light-blue;
            }

            &--warning {
                background-color: $color-cream;
            }

            &--danger {
                background-color: #FAECE7;
            }
        }
        
        &__title {
            margin: 0 0 20px;
            @include theme-property("color", $color-primary, $color-ivory); 

            @media (min-width: $mq-desktop) {
                margin: 0 0 30px;
            }
        }

        &__edit {
            margin: 20px 0 0;

            input[type="file"] {
                display: none;
            }

            @media (min-width: $mq-desktop) {
                margin: 0;
            }
        }

        &__input-suffix {
            display: flex;
            align-items: center;

            .input__suffix {
                margin: 0 0 0 8px;
                @include theme-property("color", $color-primary, $color-ivory); 
            }
        }
    }

    ::-webkit-scrollbar {
        width: 4px;

        &-track, &-thumb {
            border-radius: 5px;
        }

        &-track {    
            background-color: $color-primary;
        }

        &-thumb {
            background-color: $color-tertiary;
        }
    }

    @media (min-width: $mq-desktop) {
        height: 100vh;
    }
}