@use "../helpers/variables.scss" as *;
@use "../helpers/mixins.scss" as *;

.filter {

    &__buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 10px 0 0;

        @media (min-width: $mq-tablet) {
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            margin: 20px 0 0;
        }

        @media (min-width: $mq-desktop) {
            margin: 0;
        }
    }

    @media (min-width: $mq-desktop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}