@use "../styles/helpers/variables.scss" as *;
@use "../styles/helpers/mixins.scss" as *;

.meals {

    .filter {
        padding: 20px;
        @include theme-property("background-color", $color-ivory, $color-primary);

        @media (min-width: $mq-tablet) {
            padding: 30px;
        }

        @media (min-width: $mq-desktop) {
            padding: 0;
            @include theme-property("background-color", transparent, transparent);
        }
    }

    .standard-content__view {
        @media (min-width: $mq-desktop) {
            padding: 0 20px 0 0;
        }
    }

    .meals {
        display: grid;
        gap: 20px;

        @media (min-width: $mq-tablet) {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        @media (min-width: $mq-desktop) {
            grid-template-columns: repeat(4, 1fr);
        }
    }   

    .meal-card {
        opacity: 0;
    }
}